/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
 h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #404a69;
    font-family: helvetica;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


h1 {
    font-size: 180%;
    text-align: center;
    color: white;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
    color: #f5b431;
}

p {
    font-size: 100%;
    color: white;
}


/*CONTAINER*/

.sensorContainer {
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    background: #7d91a7;
    border-top: solid;
    border-width: 1px;
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    
    display: -webkit-flex;
    /* NEW - Chrome */
    
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-content: center;
    align-content: center;
    
    -webkit-transition: all 1s;
  transition: all 1s;
}

/* Content in boxes */

/*SENSOR_READINGS*/

.sensorBoxItem {
    padding: 0.5em;
}

.sensorName {
    font-size: 0.3em;
}
.sensorName p {
    color: #98bfea;
}

.sensorBoxItem p {
    display: inline-block;
    margin: 2px;
    font-size: 7em;
}

.v_Suffix {
    font-size: 5em !important;
}

.sensorValueLeft p {
    font-weight: bold;
    color: #f5b431;
}

.sensorValueRight p {
    font-weight: bold;
    color: #98bfea;
}

/*ALERT_BOX*/

.alertBoxContainer{
    width: 100%;
    padding: 1em;
    margin: 1em;
    background-color: #404a69;
    border-radius: 1em;
    display: block;
}

.warningIcon{
    background: url(img/alert_icon-01.svg)no-repeat;
    width: 1.4em;
    height: 1.4em;
    display: inline-block;
    vertical-align: top;
    float: left;
}

.alertHeader {
    margin-left: 0.3em;
    display: inline-block;
    vertical-align: middle;
}
.alertCloseBtn{
    background: url(img/alertIconClose.svg)no-repeat;
    width: 1.9em;
    height: 1.9em;
    display: inline-block;
    float: right;
}

.alertBoxDesc{
    width: 100%;
    margin: 0.4em 0.6em;
}

.alertBoxDesc p{
    font-size: 1.2em;
    color: #f5b431;
}

.alertTimeIcon{
    background: url(img/alert_icon-02.svg) no-repeat;
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    vertical-align: middle;
    margin-left: 0.6em;
}

.alertTime{
    display: inline;
}

.alertTime p{
    display: inline-block;
    color: #98bfea;
}

/*RULE_BOX*/

.ruleBoxContainer {
    width: 100%;
    height: 100%;
    margin: 1em;
    display: block;
    padding-bottom: .3em;
}


.ruleBoxDivider {
    width: 0.6em;
    min-height: 3.4em;
    display: inline-block;
    float: left;
    background-color: #f5b431;
    border-radius: 1em;
    margin-right: 1em;
}



.ruleHeader {
    margin-top: 0.3em;
    display: inline-block;
}

.ruleBoxDesc{
    width: 100%;
    margin: 0.1em 0em;
}

.ruleBoxDesc p {
    font-size: 1.2em;
    color: #f5b431;
}

/*HAMBURGER_MENU*/
#hamburger {
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 3px 4px 3px;
    position: absolute;
    width: 25px;
    background: none;
}
/*The white stripes in the hamburger button*/
#hamburger div {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 3px;
    width: 90%;
}

<<<<<<< HEAD=====
.scheme {
    <<<<<<< HEAD background-image: url("img/example_screens-12.png");
    background-size: 100%;
    width: 100%;
    height: 2000px;
    background-repeat: no-repeat;
    =====
background-image: url("img/example_screens-12.png");
    background-size: 100%;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    >>>>>>> FETCH_HEAD
}

>>>>>>> origin/master Julie er kul #yolo!