/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
background-color: #404a69;
font-family: helvetica;
padding-top: 2%
}
h1{
font-size: 5em;
text-align: center;
color: white;
padding-bottom: 2%;
}
p{
text-align: center;
font-size: 100%;
color: white;
/* The boxes */
}
.boxtops {
position: center;
width: 100%;
overflow: hidden;
background: #7d91a7;
padding-top: 1%;
padding-bottom: 1%;
border-top: solid;
border-width: 1px;
border-radius: 2px 2px 2px 2px;
}
.boxmiddle{
position: center;
width: 100%;
overflow: hidden;
background: #5d758c;
padding-top: 1%;
padding-bottom: 1%;
border-top: solid black;
border-width: 1px;
}
.boxend{
position: center;
width: 100%;
overflow: hidden;
background: #465666;
padding-top: 1%;
padding-bottom: 1%;
border-top: solid;
border-width: 1px;
}
/* Click on box to tur red */
.changeBackground{
background-color: #af403a !important;
}
/* Content in boxes */
.celsius {
font-size: 2em;
color: #f5b431;
display: inline;
padding-left: 30%;
}
.grader {
float: right;
font-size: 2em;
color: #f5b431;
display: inline;
padding-right:30%;
}
.sensor {
text-align: center;
font-size: 0,8em;
color: white;
}
/* Hamburger menu */
header {
position: fixed;
width: 100%;
z-index: 1;
}
#hamburger {
cursor: pointer;
display: block;
height: 24px;
padding: 3px 4px 3px;
position: absolute;
width: 25px;
background: none;
}
/*The white stripes in the hamburger menu*/
#hamburger div {
background-color: #fff;
border: 1px solid #eee;
border-radius: 2px 2px 2px 2px;
height: 2px;
margin-top: 3px;
width: 90%;
}


/* Config.html */
.scheme {
	overflow-y: hidden ! important;
        overflow-x: hidden ! important;

	background: url(img/example_screens-12.png);
	background-size: cover;
        background-repeat: no-repeat;
        
        height: 1500px;
        width: 100%;
        min-width: 100%;
}

