/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
background-color: #404a69;
font-family: arial;

}
h1{
font-size: 4em;
text-align: center;
font-family: arial;
color: white;
padding-bottom: %;
}
p{
text-align: center;
font-family: arial;
font-size: 100%;
color: white;
/* The boxes */
}
.boxtops {
position: center;
width: 100%;
overflow: hidden;
background: #7d91a7;
padding-top: 1%;
padding-bottom: 1%;
border-top: solid #404a69;
border-width: 1px;
}
.boxmiddle{
position: center;
width: 100%;
overflow: hidden;
background: #5d758c;
padding-top: 1%;
padding-bottom: 1%;
border-top: solid #404a69;
border-width: 1px;
}
.boxend{
position: center;
width: 100%;
overflow: hidden;
background: #465666;
padding-top: 1%;
padding-bottom: %;
border-top: solid #404a69;
border-width: 1px;
}

/* Icons in boxes */
.leakage {
    display: inline-block;
    height: 7%;
    width: 7%;
    padding-left: 10%;
    float: left;
    padding-bottom: 2%; 
}
.boxtops img{
    height: 2%;
    width: 2%;
    padding-left: 50%;
        
}
.gif img{
    height: 17%;
    width: 17%;
    padding-left: 5%;
    padding-bottom: 5%;
    float:left;
   
}
.time{
    height: 30%;
    width: 30%;
    padding-right: 6%;
    padding-top: 1%;
    float: right;  
}
/* Content in boxes */
.celsius {
font-size: 4em;
color: #f5b431;
display: inline;
padding-bottom: 2%;
padding-left: 10%;
font-family: arial;

}
.celsius-right {
display: inline;
float: right;
font-size: 4em;
color: #f5b431;
padding-bottom: 2%;
padding-right:10%;
font-family: arial;
}
.info {
display: inline-block;
float: right;
font-size: 4em;
color: #f5b431;
padding-right:10%;
font-family: arial;
}
.sensor {
text-align: center;
font-size: 2em;
color: white;
padding-top: 2%;
padding-bottom: 1em;
font-family: arial;
}
/* Hamburger menu */
/* Hamburger menu */
header {
position: relative;
width: 100%;
}
#hamburger {
cursor: pointer;
display: block;
height: 1px;
padding: 1px 15px 1px;
position: relative;
width: 60px;
background: none;
}
/*The white stripes in the hamburger menu*/
#hamburger div {
background-color: #fff;
border: 5px solid #eee;
border-radius: 10px 10px 10px 10px;
height: 1px;
margin-top: 8px;
width: 90%;
}


/* Config.html */
.scheme {
	overflow-y: hidden ! important;
        overflow-x: hidden ! important;

	background: url(img/example_screens-12.png);
	background-size: cover;
        background-repeat: no-repeat;
        
        height: 1500px;
        width: 100%;
        min-width: 100%;
<<<<<<< HEAD
}

/* alert.html */

html, body{
  min-height: 100%;
  

}
body{
  position: relative;

}


body a {

	text-decoration: none;

}

#overlay {
    width: 900px;
    height: 310px;
    
    position: fixed;
    top: 472px; 
    left: 5%;
    
    
    background-color: #404a69;
    border-radius: 10px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}

#overlay h2 {
	color: #f5b431;
	font-size: 3.5em;
	padding-top: 1em;
}

#overlay h4 {
	color: #f5b431;
	font-size: 2.5em;
	padding-top: 1em;
}

/* MENU VIEW*/
#menuview {
    background-image: url("icons/back-burger2.png");
    background-color: #002e3f;
    background-repeat:no-repeat;
    overflow-y: hidden ! important; 
    overflow-x: hidden ! important; 
    background-size: cover; 
    height: 1500px; width: 100%; min-width: 100%
}
